<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409090686088-ph8ed6943t8l9e34o0p8hvm9u7e7fuqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409090686088-ph8ed6943t8l9e34o0p8hvm9u7e7fuqh</string>
	<key>API_KEY</key>
	<string>AIzaSyBAZtORVBODKwRA7VNzE_roBqKbqUZc1Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>409090686088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pakmobile</string>
	<key>PROJECT_ID</key>
	<string>pakmobile-f765f</string>
	<key>STORAGE_BUCKET</key>
	<string>pakmobile-f765f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409090686088:ios:2ac19eefd4e54d05</string>
	<key>DATABASE_URL</key>
	<string>https://pakmobile-f765f.firebaseio.com</string>
</dict>
</plist>